#comment-list
    border-top: solid 1px #eee

.comment-title
    color: #586069
    font-size: 18px
    font-weight: 600

.comment-header
    display: flex
    -webkit-box-align: center
    align-items: center
    -webkit-box-pack: justify
    justify-content: space-between
    color: #586069
    background-color: #f6f8fa
    border-bottom: 1px solid #e1e4e8
    border-top-left-radius: 6px
    border-top-right-radius: 6px
    font-size: 16px
   

    ::before, ::after
        position: absolute
        top: 22px
        right: 100%
        left: -16px
        width: 0
        height: 0
        pointer-events: none
        display: block
        content: " "
        border-color: transparent
        border-style: solid solid outset

    ::before
        border-width: 8px
        border-right-color: #d1d5da

.comment-meta
    padding: 10px 16px
    box-sizing: border-box

.comment
    display: flex
    margin: 16px

    .avatar
        width: 44px
        height: 44px
        border-radius: 6px
        // border-radius: 40px
        margin-right: 1.5em
        margin-top: 0.5em
        border: solid 1px #888
        display: inline
        box-sizing: border-box
        box-shadow: 0 0px 6px 0 rgba(255,255,255,.3)

    h3
        display: inline
        //margin-top: 0.2em
        //padding-right: 0.5em
        //margin-bottom: 0.4em
        font-weight: 600
        box-sizing: border-box
        color: #586069
        font-size: 16px
        line-height: 1.5

    .date
        display: inline
        margin-bottom: 2em

    li
        list-style: inside
        list-style-type: none

li.comment
    list-style: inside
    list-style-type: none

.comment-content
    position: relative
    -webkit-box-flex: 1
    flex-grow: 1
    flex-basis: 0
    //background-color: #fff
    border: 1px solid #e1e4e8
    border-radius: 6px

.comment-text
    padding: 16px
    max-height: 450px
    overflow-x: hidden
    overflow-y: auto
    line-height: 1.5

    h1 
        font-size: 2em
    h2 
        font-size: 1.6em
    h3
        font-size: 1.4em
    h4
        font-size: 1.2em
    p
        margin-top: 0.5em
        margin-bottom: 1em

.post-comment
    padding: 0.5rem 1.25rem

.comment-body
    padding: 8px
    width: 100%

    textarea, input
        width: 100%
        min-height: 90px
        padding: 8px
        border: 1px solid #e1e4e8
        display: block
        border-radius: 6px
        max-height: 550px

.comment-fields
    padding: 8px

.comment-footer
    display: flex
    -webkit-box-align: center
    align-items: center
    -webkit-box-pack: justify
    justify-content: space-between
    padding-top: 0 
    padding-right: 8px 
    padding-left: 8px
    padding-bottom: 8px



form
    margin-top: 1em
    margin-bottom: 2em

    label
        display: block
        font-size: 1.1em
        color: #aaa
        margin-top: 1em
        margin-bottom: 0.6em

    small
        display: block
        font-size: 0.7em
        color: #888

    input
        width: 100%
        margin-bottom: 8px
        border: solid 1px #e1e4e8
        border-radius: 6px
        //background-color: #262626
        padding-top: 8px
        padding-bottom: 8px
        padding-left: 4px
        font-size: 16px
        //color: #eee

    textarea
        height: 8em

    button 
        margin-top: 1em
        margin-bottom: 1em
        padding: 5px 16px
        background-color: #2ea44f
        border: 1px solid
        border-color: rgba(27,31,35,.15)
        box-shadow: 0 1px 0 rgba(27,31,35,.1),inset 0 1px 0 hsla(0,0%,100%,.03)
        border-radius: 6px
        color: #fff
        font-size: 1em
        font-weight: 600
        line-height: 20px
        white-space: nowrap

        position: relative
        display: inline-block

    .markdown-info
        font-size: 12px
        margin-right: 4px


    button:hover, button:focus
        background-color: #2c974b
    

// ;padding:.5em 1em .5em 1em;background-color:#c5c5c5;border-radius:2px;color:#222;font-size:1em}button:hover,button:focus{background-color:#eee;color:#222;cursor:pointer}.hidden{display:none}